<!doctype html>
<html lang="en" ng-app>
<head>
<meta charset="utf-8">
<title>JavaScript Client</title>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body ng-controller="mainController"
	style="margin-top: 50px; margin-bottom: 50px"">
	<div class="jumbotron">
		<div class="container">
			<h2>
				<a href="" onclick="reloadPage()">{{title}}</a>
			</h2>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Select Function <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu"
					aria-labelledby="dropdownMenu1">
					<li role="presentation" ng-repeat="f in functionNames"><a
						role="menuitem" tabindex="-1" href="#"
						ng-click="setSelectedFunction(f)">{{f}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container" ng-show="selectedFunction.function">
		<h3>
			Selected function <span class="label label-info">{{selectedFunction.function}}</span>
		</h3>
		<hr>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td class="col-md-2">Details</td>
					<td class="col-md-10">{{selectedFunction.details}}</td>
				</tr>
				<tr>
					<td class="col-md-2">Method</td>
					<td class="col-md-10"><span class="label label-success">{{selectedFunction.method}}</span></td>
				</tr>
				<tr>
					<td class="col-md-2">Parameters</td>
					<td class="col-md-10"><span class="label label-primary"
						style="margin-right: 5px"
						ng-repeat="p in selectedFunction.params track by $index">{{p}}</span></td>
				</tr>
				<tr>
					<td class="col-md-2">Arguments</td>
					<td class="col-md-10"><span class="label label-warning"
						style="margin-right: 5px"
						ng-repeat="a in selectedFunction.args track by $index">{{a}}</span></td>
				</tr>
			</tbody>
		</table>

		<hr>
		<h3>Test function</h3>
		<div class="well">
			<form>
				<div class="form-group"
					ng-repeat="p in selectedFunction.params track by $index">
					<label for="paramInput">{{p}}</label> <input type="text"
						class="form-control" id="{{p}}" name="paramInput"
						ng-model="form[p]"
						placeholder="Enter argument for parameter {{p}}"
						ng-required="true">
				</div>
				<button class="btn btn-default" ng-click="submitForm()">{{selectedFunction.method}}</button>
			</form>
		</div>
		<hr ng-show="response.message">
		<h3 ng-show="response.message">Response</h3>
		<textarea ng-show="response.message" class="form-control col-xs-12"
			rows="10">{{response | json}}</textarea>

	</div>
</body>
<script>
	function reloadPage() {
		location.reload();
	}
</script>
</html>