<!doctype html>
<html lang="en" ng-app>
<head>
<meta charset="utf-8">
<title>JavaScript Client</title>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script
	src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="script.js"></script>
</head>
<body ng-controller="mainController"
	style="margin-bottom: 50px; margin-top: 50px">
	<nav class="navbar navbar-default navbar-fixed-top">

		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" onclick="reloadPage()">API</a>
			</div>

			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-expanded="false">
						Select Function <span class="caret"></span>
				</a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation" ng-repeat="f in functionNames"><a
							role="menuitem" tabindex="-1" href="#"
							ng-click="setSelectedFunction(f)">{{f}}</a></li>
					</ul></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-expanded="false">
						Convert <span class="caret"></span>
				</a>

					<ul class="dropdown-menu" role="menu">
						<li data-toggle="modal" data-target="#convertModal"><a
							href="#">Base64 string to .torrent</a></li>
					</ul></li>
			</ul>
		</div>

	</nav>

	<div class="container" ng-show="selectedFunction.function" id="content">
		<h3>
			Selected function <span class="label label-info">{{selectedFunction.function}}</span>
		</h3>
		<hr size="0">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td class="col-md-2">Details</td>
					<td class="col-md-10">{{selectedFunction.details}}</td>
				</tr>
				<tr>
					<td class="col-md-2">Method</td>
					<td class="col-md-10"><span class="label label-success">{{selectedFunction.method}}</span></td>
				</tr>
				<tr ng-show="selectedFunction.params">
					<td class="col-md-2">Parameters</td>
					<td class="col-md-10"><span class="label label-primary"
						style="margin-right: 5px"
						ng-repeat="p in selectedFunction.params track by $index">{{p}}</span></td>
				</tr>
				<tr ng-show="selectedFunction.args">
					<td class="col-md-2">Arguments</td>
					<td class="col-md-10"><span class="label label-warning"
						style="margin-right: 5px"
						ng-repeat="a in selectedFunction.args track by $index">{{a}}</span></td>
				</tr>
				<tr ng-show="selectedFunction.returns">
					<td class="col-md-2">Returns</td>
					<td class="col-md-10">{{selectedFunction.returns}}</td>
				</tr>
			</tbody>
		</table>

		<h3>Test function</h3>
		<div class="well">
			<form name="testForm">
				<div class="form-group"
					ng-repeat="p in selectedFunction.params track by $index">
					<label for="paramInput">{{p}}</label> <input
						type="{{p == 'file' ? 'file' : 'text'}}" class="form-control"
						id="{{p}}" name="{{p}}" ng-model="form[p]"
						placeholder="Enter argument for parameter {{p}}"
						ng-required="true">
				</div>
				<button class="btn btn-default" ng-click="submitForm()">{{selectedFunction.method}}</button>
			</form>
		</div>
		<hr ng-show="response.message">
		<h3 ng-show="response.message">Response</h3>
		<pre ng-show="response.message" class="prettyprint lang-js">{{response | json}}</pre>

	</div>

	<!-- Conversion modal overlay -->
	<div class="modal fade" id="convertModal" tabindex="-1" role="dialog"
		aria-labelledby="convertModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myconvertModal">Convert Base64
						encoded string to .torrent file</h4>
				</div>
				<div class="modal-body" id="convertBody">
					<input class="form-control" type="text" name="convertInput"
						ng-model="base64EncodedString"
						placeholder="Enter Base64 encoded string"></input>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						ng-click="convert()">Convert</button>
				</div>
			</div>
		</div>
	</div>

</body>
<script>
	function reloadPage() {
		location.reload();
	}
</script>
</html>